<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<body>
    <div id="mainbody" class="mainbody">
        <div id="navbar" class="navbar">
            <h1>Navbar</h1>
        </div>
        <div id="blockcontent" class="blockcontent">
            {% block content %}

            {% endblock %}
        </div>
        <div id="footer" class="footer">
            <hr>
            <h1>Footer</h1>
        </div>
    </div>
</body>
</html>